// ##COLORS##

// --PRIMARY

$cyan: #5fb4a2;
$dark-blue: #203a4c;
$dark-gray-blue: #33323d;

//--SEOCONDARY

$light-gray: #eaeaeb;
$lighter-gray: #fafafa;
$red: #f43030;

//##TYPOGRAPHY##

//--SIZE

$h1: 50px;
$h2: 40px;
$h3: 32px;
$body-md: 16px;
$body-lg: 15px;

//--FONT FAMILY

$heading-ff: "Ibarra Real Nova", serif;
$heading-bold: 700;
$heading-regular: 400;
$body-ff: "Public Sans", sans-serif;
$body-regular: 400;

body {
  font-family: $body-ff;
  font-weight: $body-regular;
  font-size: $body-md;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: $dark-blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: $h2;
  font-weight: $heading-bold;
  font-family: $heading-ff;
}
.content {
  line-height: 30px;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}
