*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

textarea {
  resize: none;
}

.mobile-nav-bar__close:hover {
  cursor: pointer;
}

@media (min-width: 0px) {
  .mobile-nav-bar {
    width: 375px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
  }
  .mobile-nav-bar__menu {
    align-self: center;
  }
  .mobile-nav-bar__menu:hover {
    cursor: pointer;
  }
  .mobile-nav-bar__close {
    font-size: 20px;
  }
}
@media (min-width: 700px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    padding: 2rem 2rem 2rem 2rem;
  }
  .nav-bar__links {
    display: flex;
    list-style: none;
    gap: 21px;
  }
  .nav-bar__links:hover {
    cursor: pointer;
  }
  .nav-bar__link:visited {
    text-decoration: none;
    color: black;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: #203a4c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ibarra Real Nova", serif;
}

.content {
  line-height: 30px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

@media (min-width: 0px) {
  .nav-bar {
    display: none !important;
  }
  .header__img-tablet {
    display: none;
  }
  .profile__img-tablet {
    display: none;
  }
  .header__img-mobile {
    width: 100%;
    max-width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
  .header__img-tablet {
    display: none;
  }
  .header__img-desktop {
    display: none;
  }
  .header__text {
    font-family: "Ibarra Real Nova", serif;
    font-size: 40px;
    font-weight: 700;
    padding: 0 1rem 1rem 1rem;
    line-height: 55px;
  }
  .header__button {
    background-color: #203a4c !important;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0 1rem 5rem 1rem;
  }
  .header__logo-container {
    flex-basis: 48px;
    height: 48px;
    background-color: #1a3242;
  }
  .header__btn-logo {
    padding-top: 16px;
    padding-left: 14px;
  }
  .header__btn-text {
    padding-left: 33px;
  }
}
@media (min-width: 700px) {
  .grid-container {
    min-width: 700px;
  }
  .front-page-grid {
    min-width: 700px;
  }
  .nav-bar {
    display: flex !important;
  }
  .header {
    min-width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 60px);
    padding: 0rem 1rem 1rem 1rem;
  }
  .header__img-mobile {
    display: none;
  }
  .header__img-tablet {
    display: block;
    width: 100%;
    height: 600px;
    grid-column: 1/5;
  }
  .header__text {
    background-color: white;
    line-height: 55px;
    grid-column: 1/4;
    grid-row: 6/11;
    padding: 3rem 0 0 0;
  }
  .header__button {
    grid-column: 1;
    grid-row: 10;
    margin: 12px 0 0 0;
  }
}
@media (min-width: 1440px) {
  .grid-container {
    min-width: 1440px !important;
  }
  .front-page-grid {
    min-width: 1440px !important;
  }
  .header {
    min-width: 1440px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(16, 48px);
  }
  .header__img-tablet {
    display: none;
  }
  .header__img-desktop {
    display: block;
    width: 100%;
    grid-column: 1/6;
  }
  .header__text {
    margin: 3.7rem 0 0 0;
    font-size: 50px;
    line-height: 50px;
    padding-right: 5rem;
    grid-column: 1/3;
    grid-row: 6/17;
    line-height: 55px;
  }
  .header__button {
    grid-row: 16;
    place-self: left;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: #203a4c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ibarra Real Nova", serif;
}

.content {
  line-height: 30px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: #203a4c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ibarra Real Nova", serif;
}

.content {
  line-height: 30px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

@media (min-width: 0px) {
  .profile__img {
    width: 100%;
    max-width: 100%;
    padding-bottom: 32px;
    padding: 0 1rem 2rem 1rem;
  }
  .profile__heading {
    font-size: 40px;
    font-weight: 700;
    font-family: "Ibarra Real Nova", serif;
    padding: 2rem 0 2rem 1rem;
  }
  .profile__content {
    padding: 0 1rem 1rem 1rem;
    line-height: 30px;
  }
  .profile__btn-container {
    padding: 1rem 1rem 5rem 1rem;
  }
  .profile__img-desktop {
    display: none;
  }
  .profile__hr-divider-top {
    margin: 0 1rem 0 1rem;
  }
  .profile__hr-divider-bottom {
    margin: 0 1rem 0 1rem;
  }
}
@media (min-width: 700px) {
  .profile {
    display: grid;
    padding: 1rem;
    min-width: 700px;
    grid-template-areas: "img img img img dividerTop" "img img img img heading" "img img img img content" "img img img img button" "img img img img dividerBottom";
  }
  .profile__img {
    display: none;
  }
  .profile__img-tablet {
    display: block;
    grid-area: img;
    width: 100%;
    height: 700px;
  }
  .profile__img-desktop {
    display: none;
  }
  .profile__hr-divider-top {
    width: 280px;
    grid-area: dividerTop;
    justify-self: center;
  }
  .profile__hr-divider-bottom {
    width: 280px;
    grid-area: dividerBottom;
    justify-self: center;
    align-self: end;
  }
  .profile__heading {
    grid-area: heading;
    margin-left: 2.5rem !important;
  }
  .profile__content {
    padding: 0;
    margin-left: 2.5rem;
    margin-right: 1rem;
    grid-area: content;
  }
  .profile__btn-container {
    padding: 0;
    grid-area: button;
    margin: 1rem 0 0 2.5rem;
  }
  .button {
    margin: 0 0 0 0 !important;
  }
}
@media (min-width: 1440px) {
  .profile {
    min-width: 1400px;
    grid-template-areas: "img  dividerTop" "img  heading" "img  content" "img  button" "img  dividerBottom";
  }
  .profile__img-tablet {
    display: none;
  }
  .profile__img-desktop {
    display: block;
    grid-area: img;
    width: 100%;
  }
  .profile__hr-divider-top {
    grid-area: dividerTop;
    place-self: center;
    width: 338px !important;
  }
  .profile__heading {
    grid-area: heading;
    margin: 0 !important;
    place-self: center;
    padding: 2rem 0 2rem 7.5rem !important;
  }
  .profile__content {
    grid-area: content;
    place-self: center;
    padding: 0 31% 0 31%;
    margin: 0;
  }
  .profile__btn-container {
    grid-area: button;
    place-self: center;
    margin: 0;
    padding: 2rem 0 2rem 0;
  }
  .profile__hr-divider-bottom {
    grid-area: dividerBottom;
    place-self: center;
    width: 338px !important;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: #203a4c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ibarra Real Nova", serif;
}

.content {
  line-height: 30px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

@media (min-width: 0px) {
  .contact {
    display: grid;
    place-items: center;
    padding: 3rem 0 3rem 0;
  }
  .contact__heading {
    font-size: 40px;
    font-weight: 700;
    font-family: "Ibarra Real Nova", serif;
    line-height: 55px;
    padding: 0 2rem 2rem 2rem;
    text-align: center;
  }
}
@media (min-width: 700px) {
  .contact {
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 1rem 3rem 1rem;
  }
  .contact__heading {
    text-align: left;
    padding: 0;
    flex-basis: 350px;
  }
  .contact__hr-divider {
    height: 1px;
    width: 75px;
    background-color: #33323d;
    opacity: 20%;
  }
  .contact__button {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .contact {
    margin: 2rem 0 2rem 0 !important;
    min-width: 1440px;
  }
  .contact__hr-divider {
    width: 786px !important;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: #203a4c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ibarra Real Nova", serif;
}

.content {
  line-height: 30px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

@media (min-width: 0px) {
  .footer {
    background-color: #33323d !important;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  .footer__list-container {
    padding-left: 10px;
  }
  .footer__list-item {
    color: white;
    list-style: none;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 12px;
  }
  .footer__icon {
    display: inline;
    margin-left: 15px;
  }
}
@media (min-width: 700px) {
  .footer {
    min-width: 700px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #33323d;
  }
  .footer__list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .footer__list-item {
    padding: 0;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: #203a4c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ibarra Real Nova", serif;
}

.content {
  line-height: 30px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

.menu__list-container {
  width: 223px;
  height: 186px;
  background-color: #33323d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0;
  position: absolute;
  z-index: 50;
  top: 3.3rem;
  right: 1rem;
}
.menu__list-item {
  list-style: none;
  color: white;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
}

@media (min-width: 0px) {
  .img-tablet {
    display: none;
  }
  .img-desktop {
    display: none;
  }
  .portfolio-grid {
    min-width: 375px;
  }
  .portfolio-grid .img-container {
    padding: 0 1rem 1rem 1rem;
  }
  .portfolio-grid .content-container {
    padding: 1rem;
  }
  .portfolio-grid .hr-divider {
    margin: 1rem 0 1.5rem 0;
  }
  .portfolio-grid .heading {
    padding: 1rem 0 1rem 0;
  }
  .portfolio-grid .content {
    padding: 1rem 0 2rem 0;
  }
  .portfolio-grid .button {
    margin: 0 0 2rem 0;
  }
  .portfolio-grid .project__img {
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 700px) {
  .grid-container {
    min-width: 700px;
  }
  .portfolio-grid {
    display: grid;
    min-width: 700px;
    grid-template-columns: repeat(2, 50%);
  }
  .mobile-nav-bar {
    display: none;
  }
  .nav-bar {
    display: flex;
  }
  .img-tablet {
    display: block;
  }
  .img-container {
    align-self: center;
  }
  .content-container {
    padding: 0 1rem 0 1rem !important;
  }
  .hr-divider-top {
    width: 281px;
    margin: 2rem 0 2rem 0 !important;
  }
  .hr-divider-bottom {
    width: 281px;
    margin: 2rem 0 2rem 0 !important;
  }
  .heading {
    padding: 1rem 0 1rem 0;
  }
  .img-mobile {
    display: none;
  }
  .img-tablet {
    display: block;
  }
  .img-container-bookmark {
    grid-column: 2;
    grid-row: 1;
  }
  .content-container-bookmark {
    grid-column: 1;
    grid-row: 1;
  }
  .img-container-fylo {
    grid-column: 2;
    grid-row: 1;
  }
  .content-container-fylo {
    grid-column: 1;
    grid-row: 1;
  }
  .contact {
    padding: 3rem 2rem 3rem 2rem;
  }
  .contact__hr-divider {
    width: 50px;
  }
  .contact__button {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .portfolio-grid {
    padding-top: 1rem;
  }
  .img-tablet {
    display: none;
  }
  .img-desktop {
    display: block;
  }
  .content-container {
    display: grid;
    grid-template-rows: repeat(8, 77.75px);
    margin: 0 10rem;
  }
  .index__hr-divider-top {
    grid-row: 1;
    margin: 0 !important;
  }
  .index__heading {
    grid-row: 3;
  }
  .index__content {
    grid-row: 4;
  }
  .index__button {
    margin-top: 3rem !important;
    grid-column: 1;
    grid-row: 6;
  }
  .index__hr-divider-bottom {
    grid-column: 1;
    grid-row: 8;
    margin: 0 !important;
    align-self: end;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: #203a4c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ibarra Real Nova", serif;
}

.content {
  line-height: 30px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

@media (min-width: 0px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    padding: 1rem;
  }
  .form__text {
    display: block;
    font-weight: 700;
    font-family: "Public Sans", sans-serif;
    font-size: 13px;
    padding: 1rem 0 1rem 2px;
  }
  .form__input {
    width: 343px;
    border: none;
    outline: none;
    padding: 8px 0 8px 8px;
    color: black;
    opacity: 40%;
    background-color: #cacaca;
  }
  .form__button {
    margin: 2rem 0 2rem 0 !important;
  }
}
@media (min-width: 700px) {
  .form__input {
    width: 668px;
  }
}
.error {
  color: red;
}

@media (min-width: 1440px) {
  .form {
    flex-direction: row;
    gap: 0;
  }
  .form__button {
    margin-top: 2rem !important;
  }
  .min-width-50 {
    min-width: 50%;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(215, 215, 215);
}

.grid-container {
  width: 375px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.button {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border: solid 1px black;
}

.button-blue {
  background-color: #203a4c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.hr-divider {
  height: 1px;
  background-color: #33323d;
  opacity: 20%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ibarra Real Nova", serif;
}

.content {
  line-height: 30px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

@media (min-width: 0px) {
  .contact-header {
    padding: 0 1rem 0 1rem;
  }
  .contact-header__heading {
    padding: 1rem 0 1rem 0;
  }
  .contact-header__content {
    padding-bottom: 2rem;
  }
  .contact-header__icon:nth-child(1) {
    margin-left: 0;
  }
  .footer__icon-container {
    padding-bottom: 2rem;
  }
}
@media (min-width: 700px) {
  .contact-header__hr-divider {
    width: 668px !important;
  }
}
@media (min-width: 1440px) {
  .flex-row-dt {
    display: flex;
  }
  .heading {
    min-width: 50%;
    padding: 0;
  }
  .contact-header__hr-divider {
    width: 100% !important;
  }
}
@media (min-width: 375px) {
  .browser {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  .browser__button {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 1.5rem 0;
    gap: 5px;
    border: 0.5px solid rgb(203, 202, 202);
    background-color: white;
  }
  .browser__button-left {
    flex-basis: 50%;
    border-left: none;
  }
  .browser__button-right {
    flex-basis: 50%;
    border-right: none;
    align-items: flex-end;
  }
  .browser__title {
    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
    font-size: 32px;
  }
  .browser__subtitle {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 50%;
  }
}
@media (min-width: 700px) {
  .browser {
    min-width: 700px;
  }
}
@media (min-width: 0px) {
  .project__static-previews-desktop {
    display: none;
  }
  .project-grid-desktop {
    display: none;
  }
  .project {
    padding: 1rem;
  }
  .project__image {
    width: 100%;
    max-width: 100%;
  }
  .project__preview-image {
    padding-top: 32px;
    padding-bottom: 64px;
  }
  .project__image-tablet {
    display: none;
  }
  .project__image-desktop {
    display: none;
  }
  .project__image {
    padding-bottom: 2rem;
  }
  .project__hr-divider-top {
    margin-bottom: 2rem;
  }
  .project__heading {
    padding-bottom: 2rem;
  }
  .project__content {
    padding-bottom: 2rem;
  }
  .project__button {
    margin-bottom: 2rem;
  }
  .project .content-green {
    color: #5fb4a2;
  }
  .project__sub-heading {
    padding-bottom: 2rem;
    font-weight: 400;
    font-size: 32px;
  }
}
@media (min-width: 0px) and (min-width: 700px) {
  .mobile-nav-bar {
    display: none;
  }
  .nav-bar {
    display: flex;
  }
  .project__static-previews-desktop {
    display: none;
  }
  .project-grid-desktop {
    display: none;
  }
  .project__static-previews {
    display: block;
  }
  .manage-container {
    min-width: 700px;
  }
  .project-header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img img " "img img " "hr-top hr-top " "heading content" "content-green content" "btn content" "hr-bottom hr-bottom";
  }
  .project__image {
    display: none;
  }
  .project__image-desktop {
    display: none;
  }
  .project__image-tablet {
    display: block;
    width: 100%;
    grid-area: img;
  }
  .project__hr-divider-top {
    margin: 2rem 0 2rem 0 !important;
    width: 668px !important;
    justify-self: center;
    grid-area: hr-top;
  }
  .project__hr-divider-bottom {
    margin: 2rem 0 0rem 0 !important;
    width: 668px !important;
    justify-self: center;
    grid-area: hr-bottom;
  }
  .project__heading {
    padding: 0 0 1rem 0 !important;
    grid-area: heading;
  }
  .project__content {
    grid-area: content;
    padding: 0 0 0 1rem !important;
  }
  .project__button {
    grid-area: btn;
  }
  .content-green {
    grid-area: content-green;
    padding: 0 0.5rem 1rem 0 !important;
  }
}
@media (min-width: 1440px) {
  .project-header-grid {
    min-width: 1440px;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img img" "img img" "hr-top bg" "heading bg" "content bg" "content-green ." "btn preview" "hr-bottom preview";
  }
  .project-grid {
    display: none;
  }
  .project-grid-desktop {
    display: block;
    grid-area: bg;
    padding: 0;
  }
  .project__static-previews-desktop {
    display: block;
    grid-area: preview;
  }
  .project__static-previews {
    display: none;
  }
  .content {
    padding: 0;
  }
  .project__image-tablet {
    display: none;
  }
  .project__image-desktop {
    grid-area: img;
    display: block !important;
    width: 100%;
  }
  .project__hr-divider-top {
    grid-area: hr-top;
    margin: 0 !important;
  }
  .project__heading {
    grid-area: heading;
    padding: 0 !important;
    font-weight: 700;
    font-size: 40px;
  }
  .project__content {
    grid-area: content;
    padding: 0 !important;
    font-weight: 400;
  }
  .project .content-green {
    grid-area: content-green;
  }
  .project__button {
    grid-area: btn;
  }
  .project__hr-divider-bottom {
    grid-area: hr-bottom;
    margin-top: 5rem !important;
    grid-row: 7 !important;
  }
  .project__sub-heading {
    padding: 0;
  }
}
@media (min-width: 0px) {
  .front-page-grid {
    position: relative;
  }
}
@media (min-width: 700px) {
  .grid-container {
    min-width: 700px;
  }
  .front-page-grid {
    min-width: 700px;
  }
}
.mobile-nav-bar__close:hover {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */