.browser {
  display: flex;
  flex-direction: row;

  &__button {
    display: flex;
    flex-direction: column;

    gap: 14px;
    border: 0.5px solid rgb(203, 202, 202);
    background-color: white;
    margin-bottom: 64px;
  }
  &__button-left {
    flex-basis: 50%;
    border-left: none;
  }
  &__button-right {
    flex-basis: 50%;
    border-right: none;
    align-items: flex-end;
  }
  &__title {
    font-family: $heading-ff;
    font-weight: $heading-regular;
    font-size: $h3;
  }
  &__subtitle {
    font-family: $body-ff;
    font-weight: $body-regular;
    font-size: $body-md;
    opacity: 50%;
  }
}
