@import "../base-styles";

.menu {
  &__list-container {
    width: 223px;
    height: 186px;
    background-color: $dark-gray-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0;
    position: absolute;
    z-index: 50;
    top: 3.3rem;
    right: 1rem;
  }
  &__list-item {
    list-style: none;
    color: white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
  }
}
